
/*
	General
 */
body {
	font-family: "Times New Roman", Garamond, Trebuchet;
	font-size: 16px;
	margin-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
}
h1 {
	font-size: 58px;
	font-weight: normal;
	padding-bottom: .4em;
	line-height: 60px;
}
h1 span.author{
	font-size: 36px;
}
h1:hover span.quotationmarks{
	color: #40aed7;
}
a{
	text-decoration: none;
}
a.marktop{
	height: 60px;
}
div.navbar-inner .container{
	padding-top: 0;
	padding-bottom: 0;
}
div.container{
	padding-top: 40px;
	padding-bottom: 20px;
}
div.container-fluit{
	padding-top: 30px;
	padding-bottom: 30px;
}
/*
 Nav
 */
div.navbar{
	height: 86px;
}
div.bordertop{
	background-color: #40aed7;
	height: 5px;
}
ul.nav{ 
	min-height: 80px;
	vertical-align: middle;
}
.navbar-inverse .brand {
	margin-top: 27px;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 2.7em;
}
div.nav-collapse{
	float: right;
}
ul.nav li{
	margin-right: 40px;
	margin-top: 27px;
	text-transform: uppercase;
}
.navbar-inverse .nav .active>a, 
.navbar-inverse .nav .active>a:hover, 
.navbar-inverse .nav .active>a:focus,
ul.nav li:hover{
	background-color: #40aed7;
	border-radius:6px;
}
div p{
	padding: 0 8px;
}
@media (max-width: 979px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
  }
  ul.nav li {
    margin-top: 0;
    text-transform: none;
	}

	.navbar-inverse .nav-collapse .nav > li > a, 
	.navbar-inverse .nav-collapse .dropdown-menu a {
    color: #FFFFFF;
	}
}
@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
 }
/*
	Services
 */
div.service{
	height: 300px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
}
div.service ul{
	list-style-type: none;
	margin: 0;
}

div.service:hover{
	background-color: #40aed7;
	color: #fff;
}
div.service div.integration{
	background: url(../img/integration.png);
	background-size:100px 100px;
	width: 100px;
	height: 100px;
	border:none;
	margin: 0 auto;
}
div.service:hover div.integration{
	background: url("../img/integration-over.png");
	background-size:100px 100px;
}
div.service div.management{
	background: url(../img/management.png);
	background-size:100px 100px;
	width: 100px;
	height: 100px;
	border:none;
	margin: 0 auto;
}
div.service:hover div.management{
	background: url("../img/management-over.png");
	background-size:100px 100px;
}
div.service div.diversification{
	background: url(../img/diversification.png);
	background-size:100px 100px;
	width: 100px;
	height: 100px;
	border:none;
	margin: 0 auto;
}
div.service:hover div.diversification{
	background: url("../img/diversification-over.png");
	background-size:100px 100px;
}
div.service div.professionalism{
	background: url(../img/professionalism.png);
	background-size:100px 100px;
	width: 100px;
	height: 100px;
	border:none;
	margin: 0 auto;
}
div.service:hover div.professionalism{
	background: url("../img/professionalism-over.png");
	background-size:100px 100px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.row-fluid .span3 {
    width: 46%;

	}
}

/*
About me
 */
div.aboutme{
	background-color: #1b1b1b;
	padding: 40px 0 30px 0;
}
div.aboutme p{
	color: #fff;
	font-size: 28px;
	line-height: 40px;
}
/*
Work
 */

div.work{
	font-size: 16px;
	padding-top: 40px;
}

/*
Footer
 */
div.footer{
	background-color: #1b1b1b;
	margin-top: 30px;
	padding: 30px 0 30px 0;
}
div.footer p{
	color: #fff;
	font-size: 20px;
	line-height: 24px;
}
div.footer p a{
	font-size: 14px;
}